{% extends 'app/base.html' %}

{% block content %}
{% load static %}   
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/register_style.css' %}">

    
</head>
<body>
    {{data}}
<form action="{% url 'savedata' %}" method="post">
    {% csrf_token %}

    Enter Name : <input type="text" name="name">
    <br>
    Enter Email : <input type="text" name="email">
    <br>
    Enter Contact : <input type="text" name="contact">
    <br>
    Enter City : <input type="text" name="city">
    <br>
    Enter Password : <input type="text" name="password">
    <br>
    <button type="submit">Sign-up</button>
</form>
</body>
</html>
{% endblock %}
